#donations table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#donations td {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: courier, courier new, sans-serif;
}
#donations th {
    border: 1px solid #ddd;
    padding: 8px;
}

#donations tr:nth-child(even){background-color: #f2f2f2;}

#donations tr:hover {background-color: #ddd;}

#donations th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #28794B;
    color: white;
}